# Player Prediction using Machine Learning

## 1. Data Cleaning, formating and Exploratory data analysis

In [14]:

#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [15]:
#Reading data from CSV file
matches=pd.read_csv("Match.csv")

In [16]:
matches.head()

,Match_id,Team1,Team2,Gender,Date,Season,Series/Competition,Match_number,Venue,City,...,Umpire1,Umpire2,Reserve_umpire,Tv_umpire,Match_referee,Winner,Winner_runs,Winner_wickets,Method,Outcome
0,1000887,Australia,Pakistan,male,1/13/2017,2016/17,Pakistan in Australia ODI Series,1.0,"""Brisbane Cricket Ground",Brisbane,...,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92.0,NaN,NaN,NaN
1,1000889,Australia,Pakistan,male,1/15/2017,2016/17,Pakistan in Australia ODI Series,2.0,Melbourne Cricket Ground,NaN,...,CB Gaffaney,P Wilson,SJ Nogajski,C Shamshuddin,JJ Crowe,Pakistan,NaN,6.0,NaN,NaN
2,1000891,Australia,Pakistan,male,1/19/2017,2016/17,Pakistan in Australia ODI Series,3.0,Western Australia Cricket Association Ground,Perth,...,SD Fry,C Shamshuddin,P Wilson,CB Gaffaney,JJ Crowe,Australia,NaN,7.0,NaN,NaN
3,1000893,Australia,Pakistan,male,1/22/2017,2016/17,Pakistan in Australia ODI Series,4.0,Sydney Cricket Ground,NaN,...,CB Gaffaney,MD Martell,P Wilson,C Shamshuddin,JJ Crowe,Australia,86.0,NaN,NaN,NaN
4,1000895,Australia,Pakistan,male,1/26/2017,2016/17,Pakistan in Australia ODI Series,5.0,Adelaide Oval,NaN,...,SD Fry,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,57.0,NaN,NaN,NaN

In [17]:
matches.shape

(1951, 24)

In [18]:
matches.isnull().sum()

Match_id                 0
Team1                    0
Team2                    0
Gender                   0
Date                     0
Season                   0
Series/Competition      30
Match_number           247
Venue                    0
City                   287
Neutral_venue         1434
Toss_winner              0
Toss_decision            0
Player_of_match        142
Umpire1                  0
Umpire2                  0
Reserve_umpire         160
Tv_umpire              414
Match_referee           37
Winner                  69
Winner_runs           1053
Winner_wickets         967
Method                1794
Outcome               1882
dtype: int64

In [19]:
matches = matches.drop(['Outcome','Method','Match_referee','Toss_decision','Toss_winner','Neutral_venue',
        'Series/Competition','Gender','Date','Season','City','Venue','Umpire1','Umpire2','Reserve_umpire','Tv_umpire'], axis=1)

In [20]:
matches.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN

In [21]:
#Reading data from CSV file
pfmce=pd.read_csv("Player_performance.csv")

In [22]:
pfmce.head()

,Unnamed: 0,Match_id,Players_1,BattingOrder_1,inning_bat_1,Bat_Bowler_1,Bat_Dismissal_1,Bat_Runs_1,4s_1,6s_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,0,1004261,G Malla,1,1,T van der Gugten,bowled,11,2,0,...,0,0,0.0,0,0,0,0,0,0,0.0
1,1,1004269,C Carter,1,1,LN Oluoch,caught,41,4,1,...,Kenya,1,6.1,29,3,0,0,0,0,0.0
2,2,1004283,KJ Coetzer,1,1,Ehsan Khan,lbw,53,6,2,...,0,0,0.0,0,0,0,0,0,0,0.0
3,3,1004285,KJ Coetzer,1,1,Tanveer Ahmed,caught and bowled,48,8,2,...,Hong Kong,1,10.0,46,3,1,7,0,0,0.0
4,4,1007649,PJ Moor,1,1,BB Sran,lbw,3,0,0,...,0,0,0.0,0,0,0,0,0,0,0.0

In [23]:
pfmce.shape()

TypeError: 'tuple' object is not callable

In [24]:
pfmce.isnull().sum()

Unnamed: 0          0
Match_id            0
Players_1           0
BattingOrder_1      0
inning_bat_1        0
Bat_Bowler_1        0
Bat_Dismissal_1     0
Bat_Runs_1          0
4s_1                0
6s_1                0
Ball Faced_1        0
Dots_1              0
BattingTeam_1       0
inning_bowl_1       0
Over_1              0
Runs_1              0
Wicket_1            0
Maiden_1            0
extra_1             0
fowRuns_1           0
wicketNumber_1      0
fowOver_1           0
Players_2           0
BattingOrder_2      0
inning_bat_2        0
Bat_Bowler_2        0
Bat_Dismissal_2     0
Bat_Runs_2          0
4s_2                0
6s_2                0
                   ..
BattingTeam_21      0
inning_bowl_21      0
Over_21             0
Runs_21             0
Wicket_21           0
Maiden_21           0
extra_21            0
fowRuns_21          0
wicketNumber_21     0
fowOver_21          0
Players_22          0
BattingOrder_22     0
inning_bat_22       0
Bat_Bowler_22       0
Bat_Dismissal_22    0
Bat_Runs_22         0
4s_22               0
6s_22               0
Ball Faced_22       0
Dots_22             0
BattingTeam_22      0
inning_bowl_22      0
Over_22             0
Runs_22             0
Wicket_22           0
Maiden_22           0
extra_22            0
fowRuns_22          0
wicketNumber_22     0
fowOver_22          0
Length: 442, dtype: int64

In [25]:
pfmce = pfmce.drop(['Unnamed: 0'], axis=1)

In [26]:
pfmce.shape

(1905, 441)

In [27]:
#Merge the 2 tables
MergeData= pd.concat([matches,pfmce],axis=1)
MergeData.shape

(1951, 449)

In [28]:
MergeData.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Match_id,Players_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,1004261.0,G Malla,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1004269.0,C Carter,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,1004283.0,KJ Coetzer,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,1004285.0,KJ Coetzer,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,1007649.0,PJ Moor,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
MergeData.columns

Index(['Match_id', 'Team1', 'Team2', 'Match_number', 'Player_of_match',
       'Winner', 'Winner_runs', 'Winner_wickets', 'Match_id', 'Players_1',
       ...
       'BattingTeam_22', 'inning_bowl_22', 'Over_22', 'Runs_22', 'Wicket_22',
       'Maiden_22', 'extra_22', 'fowRuns_22', 'wicketNumber_22', 'fowOver_22'],
      dtype='object', length=449)

In [30]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

Match_id               0
Team1                  0
Team2                  0
Match_number         247
Player_of_match      142
Winner                69
Winner_runs         1053
Winner_wickets       967
Match_id              46
Players_1             46
BattingOrder_1        46
inning_bat_1          46
Bat_Bowler_1          46
Bat_Dismissal_1       46
Bat_Runs_1            46
4s_1                  46
6s_1                  46
Ball Faced_1          46
Dots_1                46
BattingTeam_1         46
inning_bowl_1         46
Over_1                46
Runs_1                46
Wicket_1              46
Maiden_1              46
extra_1               46
fowRuns_1             46
wicketNumber_1        46
fowOver_1             46
Players_2             46
                    ...
BattingTeam_21        46
inning_bowl_21        46
Over_21               46
Runs_21               46
Wicket_21             46
Maiden_21             46
extra_21              46
fowRuns_21            46
wicketNumber_21       46
fowOver_21            46
Players_22            46
BattingOrder_22       46
inning_bat_22         46
Bat_Bowler_22         46
Bat_Dismissal_22      46
Bat_Runs_22           46
4s_22                 46
6s_22                 46
Ball Faced_22         46
Dots_22               46
BattingTeam_22        46
inning_bowl_22        46
Over_22               46
Runs_22               46
Wicket_22             46
Maiden_22             46
extra_22              46
fowRuns_22            46
wicketNumber_22       46
fowOver_22            46
Length: 449, dtype: int64

In [31]:

# Remove row_id
MergeData = MergeData.drop(['Match_id'], axis=1)

In [19]:
MergeData.head(10)

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Australia,New Zealand,1.0,SPD Smith,Australia,68.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Australia,New Zealand,2.0,DA Warner,Australia,116.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Australia,New Zealand,3.0,DA Warner,Australia,117.0,NaN,DM Gondaria,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Scotland,Afghanistan,1.0,NaN,NaN,NaN,NaN,L Siaka,1.0,1.0,...,Kenya,1.0,6.0,41.0,0.0,1.0,0.0,228.0,10.0,47.5
9,Scotland,Afghanistan,2.0,NaN,Afghanistan,78.0,NaN,MJ Guptill,1.0,1.0,...,Bangladesh,1.0,10.0,60.0,2.0,0.0,4.0,264.0,10.0,44.6

For finding out the strike rate we need to first find out the total runs score by the
each team player.

Fornula for finnding the Strike rate: (Number of runs/ Total Ball Played)*100

In [32]:
# Finding out the total runs score by the players
MergeData['Player5_Trun']= 4*MergeData['4s_5'] + 6*MergeData['6s_5']+ MergeData['Bat_Runs_5']

In [33]:
MergeData.head()

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22,Player5_Trun
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0,10.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [34]:
#Finding out the strike rate of each player present in the column "Players_5"
MergeData['Player5_Strike']= (MergeData['Player5_Trun'] / MergeData['Ball Faced_5'])*100

In [25]:
MergeData.head()

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22,Player5_Trun,Player5_Strike
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,22.580645
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,60.000000
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,57.142857
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0,10.0,34.482759
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,25.000000

### Creating dataset of Players_5 players strike rate

In [35]:
# Creating New dataset for Players_5 Player
Player5 = MergeData[['Player5_Strike','Players_5']]

cols = ['Player5_Strike','Players_5']

Strike = Player5[cols]
Strike.head(10)

   Player5_Strike      Players_5
0       22.580645      Sagar Pun
1       60.000000  Anshuman Rath
2       57.142857  RD Berrington
3       34.482759  RD Berrington
4       25.000000      V Sibanda
5       48.780488  Sikandar Raza
6       53.333333      MN Waller
7      147.727273       RR Patel
8       44.444444         MD Dai
9      153.846154    JDS Neesham

In [36]:
Strike = Strike.dropna()

In [37]:
Strike = Strike.astype({'Player5_Strike': 'int'})

In [38]:
Strike.head()

   Player5_Strike      Players_5
0              22      Sagar Pun
1              60  Anshuman Rath
2              57  RD Berrington
3              34  RD Berrington
4              25      V Sibanda

In [39]:
# Changing the column Name
Strike.rename(columns={'Player5_Strike': 'Strike_Rate', 'Players_5': 'Player'}, inplace=True)

In [40]:
# Dropping the Dublicate values from the dataset
Strike.sort_values("Player", inplace = True)
  
# dropping ALL duplicte values
Strike.drop_duplicates(subset ="Player",
                     keep = False, inplace = True)
  
# displaying data
Strike

      Strike_Rate                    Player
765           106                   A Bagai
213            66                   A Dagar
1790           51                 A Mansale
846           175           AA Jhunjhunwala
1186          144               AB McDonald
229             8              AC Mushangwe
1520           82                AD Poynter
1846          140          AE Satterthwaite
74             28                  AJ Healy
466           165                AJ Strauss
106           118                 AL Dodson
784           237                 AM Rahane
533           109                  AM Samad
1595           82              ASJ Dewhurst
303            89                  AT Carey
1055            0                AUK Pathan
1253          116  Ahmed Faiz Mohammad Noor
1632           39                Aliya Riaz
652            25               Alok Kapali
1557           88              Arif Hussain
1336            8             Asmavia Iqbal
1671           47                B Bhandari
1780          113                  B Cooper
1172          200                     B Lee
1313          148              BB Samantray
32             85               BCJ Cutting
1656          116               BMAJ Mendis
1441            0                 BN Cooper
1118          142                   BR Dunk
1492           66             Bismah Maroof
...           ...                       ...
1647            0             Sabbir Rahman
1890          127               Sachin Baby
0              22                 Sagar Pun
78            146          Samantha Singham
79            182                Sasha Azmi
1592          135            Shafraz Jaleel
1591          137           Shahbaz Rasheed
1275          172              Shahid Ahmed
1600           61             Shehzad Ahmed
1411           75            Sohaib Maqsood
291            30             Soumya Sarkar
1561           83         Suhan Alagaratnam
1563           16            Suharril Fetri
175           100           TAM Siriwardana
1490            9          TC Bastiampillai
1764          366                 TM Beaton
86             16                TMM Newton
115             8               Tian Suqing
616            16              Tushar Imran
136            65                   V Frank
781           166                  V Sehwag
4              25                 V Sibanda
353           182                VS Solanki
1690          182           Virandeep Singh
167           100                   WP Saha
152            29                Waqas Khan
738           190               XM Marshall
1062          200           Y Venugopal Rao
373             0               Younis Khan
1252            0               ZR Jaboneke

[219 rows x 2 columns]

In [41]:
Strike.shape

(219, 2)

In [42]:
# Focus only on these dataset

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchData1 = Match1[cols]
FinalMatchData1.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [43]:
# Feeling null values 
FinalMatchData1[['Players_5']] = FinalMatchData1[['Players_5']].fillna('')
FinalMatchData1['Players_6'].fillna('No', inplace=True)

In [44]:
FinalMatchData1['Players_5'].isnull().sum()

0

In [46]:
# Focus only on these dataset

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchDataAnaly= Match1[cols]
FinalMatchDataAnaly.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [47]:
FinalMatchDataAnaly.isnull().values.any()

True

In [48]:
FinalMatchDataAnaly['Players_5'].isnull().values.any()

True

In [49]:
Players_5=FinalMatchDataAnaly.isnull().sum()
print (Players_5)

Players_1     46
Players_2     46
Players_3     46
Players_4     46
Players_5     46
Players_6     46
Players_7     46
Players_8     46
Players_9     46
Players_10    46
Players_11    46
Players_12    46
Players_13    46
Players_14    46
Players_15    46
Players_16    46
Players_17    46
Players_18    46
Players_19    46
Players_20    46
Players_21    46
Players_22    46
dtype: int64

In [50]:
FinalMatchDataAnaly = FinalMatchDataAnaly.dropna()

In [51]:
Players_4 = FinalMatchDataAnaly.isnull().sum()
print (Players_4)

Players_1     0
Players_2     0
Players_3     0
Players_4     0
Players_5     0
Players_6     0
Players_7     0
Players_8     0
Players_9     0
Players_10    0
Players_11    0
Players_12    0
Players_13    0
Players_14    0
Players_15    0
Players_16    0
Players_17    0
Players_18    0
Players_19    0
Players_20    0
Players_21    0
Players_22    0
dtype: int64

In [52]:
# Feature Engineering 
# Approach: If Players_5 will be in the Team2, label 1 will be assigned, else if Players_6 present, label 2 will be assigned.
# Converting players_5 and players_6  from categorical variables to continuous inputs using pandas 
#function pd.get_dummies. 
# This variable has only two answer choices: Players_5 and Players_6. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the player of a particular game in this case.


FinalMatchDataAnaly = FinalMatchDataAnaly.reset_index(drop=True)
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_5 == FinalMatchDataAnaly.Players_5,'Players5']=1
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_5 == FinalMatchDataAnaly.Players_6, 'Players5']=2

FinalMatchDataAnaly = FinalMatchDataAnaly.drop(['Players5'], axis=1)
FinalMatchDataAnaly.head()

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0

In [55]:
#convert Players_5 and Players_6 from categorical variables to continous inputs 

# Get dummy variables
final = pd.get_dummies(FinalMatchDataAnaly, prefix=['Players_1','Players_2','Players_3','Players_4','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], columns=['Players_1','Players_2','Players_3','Players_4','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])
# Separate X and y sets
X = final.drop(['Players_5'], axis=1)
y = final["Players_5"]

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [56]:
final.head(12)

,Players_5,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,Sagar Pun,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Anshuman Rath,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,RD Berrington,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,RD Berrington,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,V Sibanda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Sikandar Raza,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,MN Waller,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,RR Patel,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,MD Dai,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,JDS Neesham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,JDS Neesham,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Shakib Al Hasan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 2. Accuracy

In [45]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
 

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.755
Test set accuracy:  0.294

## 3. Evaluate the best model on the testing set

(Note: Now Strike Rate data set of each players will be used, Strike rate help to identify which player is better.)

In [67]:
#adding fixtures

# Loading new datasets

fixtures = pd.read_csv('fixtures2.csv')

# List for storing the group stage games
pred_set = []

In [68]:
# Create new columns with ranking position of each player columns
fixtures.insert(1, 'first_position', fixtures['Players_5'].map(Strike.set_index('Player')['Strike_Rate']))
fixtures.insert(2, 'second_position', fixtures['Players_6'].map(Strike.set_index('Player')['Strike_Rate']))


# We only need the group stage games
#slice the dataset

fixtures = fixtures.iloc[:50, :]
fixtures.tail()

,Players_1,first_position,second_position,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,Players_11,Players_12
45,KC Brathwaite,NaN,NaN,E Lewis,KOA Powell,SD Hope,JN Mohammed,JL Carter,JO Holder,CR Brathwaite,AR Nurse,ST Gabriel,D Bishoo,JJ Roy
46,JJ Roy,NaN,NaN,AD Hales,JE Root,JC Buttler,EJG Morgan,BA Stokes,MM Ali,CR Woakes,LE Plunkett,AU Rashid,ST Finn,KOA Powell
47,EC Joyce,NaN,NaN,PR Stirling,WTS Porterfield,A Balbirnie,NJ O'Brien,GC Wilson,KJ O'Brien,SR Thompson,GH Dockrell,TJ Murtagh,PKD Chase,JJ Roy
48,JJ Roy,NaN,42.0,AD Hales,JE Root,EJG Morgan,JM Bairstow,SW Billings,AU Rashid,DJ Willey,MA Wood,JT Ball,LE Plunkett,EC Joyce
49,JJ Roy,NaN,NaN,JM Vince,BM Duckett,JM Bairstow,BA Stokes,JC Buttler,MM Ali,CR Woakes,DJ Willey,JT Ball,AU Rashid,Tamim Iqbal

In [69]:
# Loop to add players to new prediction dataset based on the ranking position of each player column
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Players_5': row['Players_6'], 'Players_6': row['Players_6'], 'Team2': None})
    else:
        pred_set.append({'Players_5': row['Players_6'], 'Players_6': row['Players_5'], 'Team2': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

       Players_5      Players_6 Team2
0        R Rijal      Sagar Pun  None
1   Tanwir Afzal  Anshuman Rath  None
2     PL Mommsen  RD Berrington  None
3    CD de Lange  RD Berrington  None
4  Sikandar Raza      V Sibanda  None

In [70]:
# Get dummy variables and drop selected player column
pred_set = pd.get_dummies(pred_set, prefix=['Players_5', 'Players_6'], columns=['Players_5', 'Players_6'])
# Add missing columns compared to the model's training dataset
missing_cols2 = set(final.columns) - set(pred_set.columns)
for c in missing_cols2:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

pred_set = pred_set.drop(['Players_5'], axis=1)
pred_set.head()

,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,Players_1_AB de Villiers,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4. Model Intepretation

In [ ]:
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Players_5r: " + backup_pred_set.iloc[i, 1])
    else:
        print("Players_5: " + backup_pred_set.iloc[i, 0])
    print("")

## 5. Final Model Prediction

In [76]:
# List of tuples before 
semi = [('Soumya Sarkar','BR Dunk')]

In [85]:
def clean_and_predict(matches, Strike, final, logreg):

# Initialization of auxiliary list for data cleaning
    positions = []

 # Loop to retrieve each players position according to Strike Rate
    for match in matches:
        positions.append(Strike.loc[Strike['Player'] == match[0],'Strike_Rate'].iloc[0])
        positions.append(Strike.loc[Strike['Player'] == match[1],'Strike_Rate'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of Players (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first player is better then this player will be the 'Players_5', and vice-versa-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Players_5': matches[j][0], 'Players_6': matches[j][1]})
        else:
            dict1.update({'Players_5': matches[j][1], 'Players_6': matches[j][0]})

               # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop Player column
    pred_set = pd.get_dummies(pred_set, prefix=['Players_5', 'Players_6'], columns=['Players_5', 'Players_6'])
    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Players_5'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Players_5r: " + backup_pred_set.iloc[i, 1])
        else:
            print("Players_5: " + backup_pred_set.iloc[i, 0])
        print("")

In [ ]:
clean_and_predict(semi, Strike, final, rf)