## Player Prediction using Machine Learning

## 1. Data Cleaning, formating and Exploratory data analysis

In [1]:

#import all libraries and dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
#Reading data from CSV file
matches=pd.read_csv("Match.csv")

In [3]:
matches.head()

,Match_id,Team1,Team2,Gender,Date,Season,Series/Competition,Match_number,Venue,City,...,Umpire1,Umpire2,Reserve_umpire,Tv_umpire,Match_referee,Winner,Winner_runs,Winner_wickets,Method,Outcome
0,1000887,Australia,Pakistan,male,1/13/2017,2016/17,Pakistan in Australia ODI Series,1.0,"""Brisbane Cricket Ground",Brisbane,...,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92.0,NaN,NaN,NaN
1,1000889,Australia,Pakistan,male,1/15/2017,2016/17,Pakistan in Australia ODI Series,2.0,Melbourne Cricket Ground,NaN,...,CB Gaffaney,P Wilson,SJ Nogajski,C Shamshuddin,JJ Crowe,Pakistan,NaN,6.0,NaN,NaN
2,1000891,Australia,Pakistan,male,1/19/2017,2016/17,Pakistan in Australia ODI Series,3.0,Western Australia Cricket Association Ground,Perth,...,SD Fry,C Shamshuddin,P Wilson,CB Gaffaney,JJ Crowe,Australia,NaN,7.0,NaN,NaN
3,1000893,Australia,Pakistan,male,1/22/2017,2016/17,Pakistan in Australia ODI Series,4.0,Sydney Cricket Ground,NaN,...,CB Gaffaney,MD Martell,P Wilson,C Shamshuddin,JJ Crowe,Australia,86.0,NaN,NaN,NaN
4,1000895,Australia,Pakistan,male,1/26/2017,2016/17,Pakistan in Australia ODI Series,5.0,Adelaide Oval,NaN,...,SD Fry,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,57.0,NaN,NaN,NaN

In [4]:
matches.shape

(1951, 24)

In [5]:
matches.isnull().sum()

Match_id                 0
Team1                    0
Team2                    0
Gender                   0
Date                     0
Season                   0
Series/Competition      30
Match_number           247
Venue                    0
City                   287
Neutral_venue         1434
Toss_winner              0
Toss_decision            0
Player_of_match        142
Umpire1                  0
Umpire2                  0
Reserve_umpire         160
Tv_umpire              414
Match_referee           37
Winner                  69
Winner_runs           1053
Winner_wickets         967
Method                1794
Outcome               1882
dtype: int64

In [6]:
matches = matches.drop(['Outcome','Method','Match_referee','Toss_decision','Toss_winner','Neutral_venue',
        'Series/Competition','Gender','Date','Season','City','Venue','Umpire1','Umpire2','Reserve_umpire','Tv_umpire'], axis=1)

In [7]:
matches.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN

In [8]:
#Reading data from CSV file
pfmce=pd.read_csv("Player_performance.csv")

In [9]:
pfmce.head()

,Unnamed: 0,Match_id,Players_1,BattingOrder_1,inning_bat_1,Bat_Bowler_1,Bat_Dismissal_1,Bat_Runs_1,4s_1,6s_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,0,1004261,G Malla,1,1,T van der Gugten,bowled,11,2,0,...,0,0,0.0,0,0,0,0,0,0,0.0
1,1,1004269,C Carter,1,1,LN Oluoch,caught,41,4,1,...,Kenya,1,6.1,29,3,0,0,0,0,0.0
2,2,1004283,KJ Coetzer,1,1,Ehsan Khan,lbw,53,6,2,...,0,0,0.0,0,0,0,0,0,0,0.0
3,3,1004285,KJ Coetzer,1,1,Tanveer Ahmed,caught and bowled,48,8,2,...,Hong Kong,1,10.0,46,3,1,7,0,0,0.0
4,4,1007649,PJ Moor,1,1,BB Sran,lbw,3,0,0,...,0,0,0.0,0,0,0,0,0,0,0.0

In [10]:
pfmce.shape()

TypeError: 'tuple' object is not callable

In [ ]:
pfmce.isnull().sum()

In [11]:
pfmce = pfmce.drop(['Unnamed: 0'], axis=1)

In [12]:
pfmce.shape

(1905, 441)

In [13]:
#Merge the 2 tables
MergeData= pd.concat([matches,pfmce],axis=1)
MergeData.shape

(1951, 449)

In [14]:
MergeData.head()

,Match_id,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Match_id,Players_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,1000887,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,1004261.0,G Malla,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000889,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,1004269.0,C Carter,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,1000891,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,1004283.0,KJ Coetzer,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000893,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,1004285.0,KJ Coetzer,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,1000895,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,1007649.0,PJ Moor,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
MergeData.columns

Index(['Match_id', 'Team1', 'Team2', 'Match_number', 'Player_of_match',
       'Winner', 'Winner_runs', 'Winner_wickets', 'Match_id', 'Players_1',
       ...
       'BattingTeam_22', 'inning_bowl_22', 'Over_22', 'Runs_22', 'Wicket_22',
       'Maiden_22', 'extra_22', 'fowRuns_22', 'wicketNumber_22', 'fowOver_22'],
      dtype='object', length=449)

In [16]:
# CHhecking any null values
missing_values_check = MergeData.isnull().sum()
print(missing_values_check)

Match_id               0
Team1                  0
Team2                  0
Match_number         247
Player_of_match      142
Winner                69
Winner_runs         1053
Winner_wickets       967
Match_id              46
Players_1             46
BattingOrder_1        46
inning_bat_1          46
Bat_Bowler_1          46
Bat_Dismissal_1       46
Bat_Runs_1            46
4s_1                  46
6s_1                  46
Ball Faced_1          46
Dots_1                46
BattingTeam_1         46
inning_bowl_1         46
Over_1                46
Runs_1                46
Wicket_1              46
Maiden_1              46
extra_1               46
fowRuns_1             46
wicketNumber_1        46
fowOver_1             46
Players_2             46
                    ...
BattingTeam_21        46
inning_bowl_21        46
Over_21               46
Runs_21               46
Wicket_21             46
Maiden_21             46
extra_21              46
fowRuns_21            46
wicketNumber_21       46
fowOver_21            46
Players_22            46
BattingOrder_22       46
inning_bat_22         46
Bat_Bowler_22         46
Bat_Dismissal_22      46
Bat_Runs_22           46
4s_22                 46
6s_22                 46
Ball Faced_22         46
Dots_22               46
BattingTeam_22        46
inning_bowl_22        46
Over_22               46
Runs_22               46
Wicket_22             46
Maiden_22             46
extra_22              46
fowRuns_22            46
wicketNumber_22       46
fowOver_22            46
Length: 449, dtype: int64

In [17]:

# Remove row_id
MergeData = MergeData.drop(['Match_id'], axis=1)

In [25]:
MergeData.head(10)

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,BattingTeam_22,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,Kenya,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,Hong Kong,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Australia,New Zealand,1.0,SPD Smith,Australia,68.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Australia,New Zealand,2.0,DA Warner,Australia,116.0,NaN,H Masakadza,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Australia,New Zealand,3.0,DA Warner,Australia,117.0,NaN,DM Gondaria,1.0,1.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Scotland,Afghanistan,1.0,NaN,NaN,NaN,NaN,L Siaka,1.0,1.0,...,Kenya,1.0,6.0,41.0,0.0,1.0,0.0,228.0,10.0,47.5
9,Scotland,Afghanistan,2.0,NaN,Afghanistan,78.0,NaN,MJ Guptill,1.0,1.0,...,Bangladesh,1.0,10.0,60.0,2.0,0.0,4.0,264.0,10.0,44.6

For finding out the strike rate we need to first find out the total runs score by the each team player.

Fornula for finnding the Strike rate: (Number of runs/ Total Ball Played)*100

In [19]:
# Finding out the total runs score by the players
MergeData['Player8_Trun']= 4*MergeData['4s_8'] + 6*MergeData['6s_8']+ MergeData['Bat_Runs_8']

In [20]:
MergeData.head()

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,inning_bowl_22,Over_22,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22,Player8_Trun
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,1.0,6.1,29.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,1.0,10.0,46.0,3.0,1.0,7.0,0.0,0.0,0.0,2.0
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0

In [52]:
#Finding out the strike rate of each player present in the column "Players_8"
MergeData['Player8_Strike']= (MergeData['Player8_Trun'] / MergeData['Ball Faced_8'])*100

In [30]:
MergeData.head()

,Team1,Team2,Match_number,Player_of_match,Winner,Winner_runs,Winner_wickets,Players_1,BattingOrder_1,inning_bat_1,...,Runs_22,Wicket_22,Maiden_22,extra_22,fowRuns_22,wicketNumber_22,fowOver_22,Player7_Trun,Player8_Trun,Player8_Strike
0,Australia,Pakistan,1.0,MS Wade,Australia,92.0,NaN,G Malla,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,16.0,57.142857
1,Australia,Pakistan,2.0,Mohammad Hafeez,Pakistan,NaN,6.0,C Carter,1.0,1.0,...,29.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,Australia,Pakistan,3.0,SPD Smith,Australia,NaN,7.0,KJ Coetzer,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,20.0,166.666667
3,Australia,Pakistan,4.0,DA Warner,Australia,86.0,NaN,KJ Coetzer,1.0,1.0,...,46.0,3.0,1.0,7.0,0.0,0.0,0.0,76.0,2.0,100.000000
4,Australia,Pakistan,5.0,DA Warner,Australia,57.0,NaN,PJ Moor,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45.0,23.0,85.185185

### Creating dataset of Players_8 players strike rate

In [23]:
# Creating New dataset for Players_8 Player
Player8 = MergeData[['Player8_Strike','Players_8']]

cols = ['Player8_Strike','Players_8']

Strike = Player8[cols]
Strike.head(10)

   Player8_Strike    Players_8
0       57.142857  Sompal Kami
1             NaN   Aizaz Khan
2      166.666667    SM Sharif
3      100.000000    SM Sharif
4       85.185185  R Mutumbami
5       50.000000    AG Cremer
6       38.461538    N Madziva
7       16.666667  NN Odhiambo
8      215.151515      JB Reva
9      114.285714   MJ Santner

In [24]:
Strike = Strike.dropna()

In [25]:
Strike = Strike.astype({'Player8_Strike': 'int'})

In [26]:
Strike.head()

   Player8_Strike    Players_8
0              57  Sompal Kami
2             166    SM Sharif
3             100    SM Sharif
4              85  R Mutumbami
5              50    AG Cremer

In [48]:

  
# Apply the function
Strike['Player8_Strike'] = Strike['Player8_Strike'].fillna(0)
  
# print the DataFrame
Strike

      Player8_Strike           Players_8
0          57.142857         Sompal Kami
1           0.000000          Aizaz Khan
2         166.666667           SM Sharif
3         100.000000           SM Sharif
4          85.185185         R Mutumbami
5          50.000000           AG Cremer
6          38.461538           N Madziva
7          16.666667         NN Odhiambo
8         215.151515             JB Reva
9         114.285714          MJ Santner
10         52.941176          MJ Santner
11         27.272727       Tanbir Hayder
12         36.842105          MJ Santner
13        294.736842     C de Grandhomme
14          0.000000            TA Boult
15        158.064516          WD Parnell
16        162.962963           CH Morris
17         87.500000     C de Grandhomme
18        100.000000    Mosaddek Hossain
19        271.428571            AF Milne
20         87.500000          WD Parnell
21          0.000000           JJ Bumrah
22         69.230769  Mehedi Hasan Miraz
23        160.000000           AU Rashid
24         72.727273           CH Morris
25          0.000000           RA Jadeja
26         77.777778          MJ Santner
27          0.000000            MA Starc
28         36.363636      AL Phehlukwayo
29         25.000000         NLTC Perera
...              ...                 ...
1921        0.000000                 NaN
1922        0.000000                 NaN
1923        0.000000                 NaN
1924        0.000000                 NaN
1925        0.000000                 NaN
1926        0.000000                 NaN
1927        0.000000                 NaN
1928        0.000000                 NaN
1929        0.000000                 NaN
1930        0.000000                 NaN
1931        0.000000                 NaN
1932        0.000000                 NaN
1933        0.000000                 NaN
1934        0.000000                 NaN
1935        0.000000                 NaN
1936        0.000000                 NaN
1937        0.000000                 NaN
1938        0.000000                 NaN
1939        0.000000                 NaN
1940        0.000000                 NaN
1941        0.000000                 NaN
1942        0.000000                 NaN
1943        0.000000                 NaN
1944        0.000000                 NaN
1945        0.000000                 NaN
1946        0.000000                 NaN
1947        0.000000                 NaN
1948        0.000000                 NaN
1949        0.000000                 NaN
1950        0.000000                 NaN

[1951 rows x 2 columns]

In [49]:
Strike = Strike.dropna()

In [50]:
Strike = Strike.astype({'Player8_Strike': 'int'})

In [51]:
Strike.head()

   Player8_Strike    Players_8
0              57  Sompal Kami
1               0   Aizaz Khan
2             166    SM Sharif
3             100    SM Sharif
4              85  R Mutumbami

In [27]:
# Changing the column Name
Strike.rename(columns={'Player8_Strike': 'Strike_Rate', 'Players_8': 'Player'}, inplace=True)

In [28]:
# Dropping the Dublicate values from the dataset
Strike.sort_values("Player", inplace = True)
  
# dropping ALL duplicte values
Strike.drop_duplicates(subset ="Player",
                     keep = False, inplace = True)
  
# displaying data
Strike

      Strike_Rate             Player
1014          192         A Ferguson
197            57          A Gardner
1585          100           A Goenka
571            33              A Nel
846            66           A Uniyal
1875          160          A Vijayan
87             40       A Wellington
36             25            A Zampa
33            240            AC Agar
1007          209         AD Mathews
923             0         AF Buurman
75            160           AJ Healy
228             0         AJ Kenealy
1838           21        AM Phangiso
643            42            AO Suji
1881           52        AP Adegbola
53            116         AP Devcich
70             94         AR McBrine
1520           42           AR White
664           285           AS Yadav
105            22        AV Lalcheta
1820          100        Aamer Yamin
112           166       Abdul Hashim
1587           52        Abdul Jabar
340           450    Abhishek Sharma
1649           33         Abul Hasan
1661          314        Adil Bhatti
1604          300    Aftab Ahmed (2)
159            11         Ahmed Raza
152            16         Aizaz Khan
...           ...                ...
1324          142        Saeed Ajmal
1785          260        Safir Hayat
1904           84     Saqlain Haider
270             0        Shadab Khan
1282          117   Shukhtara Rahman
0              57        Sompal Kami
115            28         Song Yulin
1271           33            T Chino
646            66           T Maruma
1650            0       T Panyangara
1726          180    TAM Siriwardana
1067           87           TD Paine
1068           36       TJ Heggelman
255            33          TK Curran
113           240           TP Allen
579            16         TR Ambrose
11             27      Tanbir Hayder
1275          305            UH Sahi
1589            0       Ubaid Minhas
1020           62        Usman Shuja
202            16            V Ateak
1343          129         V Pennazza
1598            0       WTN Fernando
1655           28          Wang Jing
258           575  Washington Sundar
1062            0            Y Nagar
670           409    Y Venugopal Rao
675           766        YV Takawale
218           542     Zaheer Ibrahim
989            41  Zulqarnain Haider

[274 rows x 2 columns]

In [29]:
Strike.shape

(274, 2)

In [30]:
# Focus only on these datasets

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchData1 = Match1[cols]
FinalMatchData1.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [32]:
# Feeling null values 
FinalMatchData1[['Players_8']] = FinalMatchData1[['Players_8']].fillna('')
FinalMatchData1['Players_9'].fillna('No', inplace=True)

In [33]:
FinalMatchData1['Players_8'].isnull().sum()

0

In [34]:
# Focus only on these datasets

Match1 = MergeData[['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']]
cols = ['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6','Players_7',
                    'Players_8','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22']

FinalMatchDataAnaly= Match1[cols]
FinalMatchDataAnaly.head(6)

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0
5,H Masakadza,CJ Chibhabha,PJ Moor,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,T Muzarabani,...,KK Nair,AT Rayudu,MK Pandey,BB Sran,DS Kulkarni,JJ Bumrah,AR Patel,YS Chahal,0,0

In [35]:
FinalMatchDataAnaly.isnull().values.any()

True

In [36]:
FinalMatchDataAnaly['Players_8'].isnull().values.any()

True

In [37]:
Players_8=FinalMatchDataAnaly.isnull().sum()
print (Players_8)

Players_1     46
Players_2     46
Players_3     46
Players_4     46
Players_5     46
Players_6     46
Players_7     46
Players_8     46
Players_9     46
Players_10    46
Players_11    46
Players_12    46
Players_13    46
Players_14    46
Players_15    46
Players_16    46
Players_17    46
Players_18    46
Players_19    46
Players_20    46
Players_21    46
Players_22    46
dtype: int64

In [38]:
FinalMatchDataAnaly = FinalMatchDataAnaly.dropna()

In [39]:
Players_8 = FinalMatchDataAnaly.isnull().sum()
print (Players_8)

Players_1     0
Players_2     0
Players_3     0
Players_4     0
Players_5     0
Players_6     0
Players_7     0
Players_8     0
Players_9     0
Players_10    0
Players_11    0
Players_12    0
Players_13    0
Players_14    0
Players_15    0
Players_16    0
Players_17    0
Players_18    0
Players_19    0
Players_20    0
Players_21    0
Players_22    0
dtype: int64

In [40]:
# Feature Engineering 
# Approach: If Players_8 will be in the Team2, label 1 will be assigned, else if Players_9 present, label 2 will be assigned.
# Converting players_8 and players_9  from categorical variables to continuous inputs using pandas 
#function pd.get_dummies. 
# This variable has only two answer choices: Players_8 and Players_9. 
# It creates a new dataframe which consists of zeros and ones. 
# Here dataframe will have a one depending on the player of a particular game in this case.

FinalMatchDataAnaly = FinalMatchDataAnaly.reset_index(drop=True)
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_8 == FinalMatchDataAnaly.Players_8,'Players8']=1
FinalMatchDataAnaly.loc[FinalMatchDataAnaly.Players_8 == FinalMatchDataAnaly.Players_9, 'Players8']=2

FinalMatchDataAnaly = FinalMatchDataAnaly.drop(['Players8'], axis=1)
FinalMatchDataAnaly.head()

,Players_1,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,...,Players_13,Players_14,Players_15,Players_16,Players_17,Players_18,Players_19,Players_20,Players_21,Players_22
0,G Malla,AK Mandal,S Vesawkar,P Khadka,Sagar Pun,R Rijal,B Bhandari,Sompal Kami,B Regmi,Karan KC,...,MJG Rippon,W Barresi,BN Cooper,RE van der Merwe,T van der Gugten,Mudassar Bukhari,Ahsan Malik,PA van Meekeren,0,0
1,C Carter,KD Shah,Babar Hayat,Nizakat Khan,Anshuman Rath,Tanwir Afzal,Nadeem Ahmed,Aizaz Khan,Ehsan Khan,Tanveer Ahmed,...,AA Obanda,DM Gondaria,RR Patel,CO Obuya,NK Patel,Gurdeep Singh,NN Odhiambo,SO Ngoche,NM Odhiambo,LN Oluoch
2,KJ Coetzer,CD Wallace,CS MacLeod,MH Cross,RD Berrington,PL Mommsen,CD de Lange,SM Sharif,CB Sole,AC Evans,...,Aizaz Khan,Babar Hayat,Anshuman Rath,Ehsan Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed,0,0,0
3,KJ Coetzer,MH Cross,CS MacLeod,MA Leask,RD Berrington,CD de Lange,CD Wallace,SM Sharif,MRJ Watt,AC Evans,...,Aizaz Khan,Babar Hayat,Nizakat Khan,Anshuman Rath,Ehsan Khan,Shahid Wasif,Waqas Khan,Tanwir Afzal,Nadeem Ahmed,Tanveer Ahmed
4,PJ Moor,CJ Chibhabha,H Masakadza,CR Ervine,V Sibanda,Sikandar Raza,E Chigumbura,R Mutumbami,AG Cremer,TL Chatara,...,KK Nair,AT Rayudu,DS Kulkarni,BB Sran,JJ Bumrah,AR Patel,YS Chahal,0,0,0

In [41]:
#convert Players_1 and Players_2 from categorical variables to continous inputs 

# Get dummy variables
final = pd.get_dummies(FinalMatchDataAnaly, prefix=['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6',
                    'Players_7','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'], columns=['Players_1','Players_2','Players_3','Players_4','Players_5','Players_6',
                    'Players_7','Players_9','Players_10','Players_11','Players_12','Players_13','Players_14','Players_15',
                    'Players_16','Players_17','Players_18','Players_19','Players_20','Players_21','Players_22'])
# Separate X and y sets
X = final.drop(['Players_8'], axis=1)
y = final["Players_8"]

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [42]:
final.head(12)

,Players_8,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,Sompal Kami,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Aizaz Khan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SM Sharif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SM Sharif,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,R Mutumbami,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,AG Cremer,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,N Madziva,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,NN Odhiambo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,JB Reva,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,MJ Santner,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,MJ Santner,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Tanbir Hayder,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 2. Accuracy

In [43]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
 

print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.837
Test set accuracy:  0.224

## 3. Evaluate the best model on the testing set

(Note: Now Strike Rate data set of each players will be used, Strike rate help to identify which player is better.)

In [44]:
#adding fixtures

# Loading new datasets

fixtures = pd.read_csv('fixtures2.csv')

# List for storing the group stage games
pred_set = []

In [45]:
# Create new columns with ranking position of each player columns
fixtures.insert(1, 'first_position', fixtures['Players_8'].map(Strike.set_index('Player')['Strike_Rate']))
fixtures.insert(2, 'second_position', fixtures['Players_9'].map(Strike.set_index('Player')['Strike_Rate']))


# We only need the group stage games
#slice the dataset

fixtures = fixtures.iloc[:50, :]
fixtures.tail()

,Players_1,first_position,second_position,Players_2,Players_3,Players_4,Players_5,Players_6,Players_7,Players_8,Players_9,Players_10,Players_11,Players_12
45,KC Brathwaite,NaN,NaN,E Lewis,KOA Powell,SD Hope,JN Mohammed,JL Carter,JO Holder,CR Brathwaite,AR Nurse,ST Gabriel,D Bishoo,JJ Roy
46,JJ Roy,NaN,NaN,AD Hales,JE Root,JC Buttler,EJG Morgan,BA Stokes,MM Ali,CR Woakes,LE Plunkett,AU Rashid,ST Finn,KOA Powell
47,EC Joyce,NaN,NaN,PR Stirling,WTS Porterfield,A Balbirnie,NJ O'Brien,GC Wilson,KJ O'Brien,SR Thompson,GH Dockrell,TJ Murtagh,PKD Chase,JJ Roy
48,JJ Roy,NaN,NaN,AD Hales,JE Root,EJG Morgan,JM Bairstow,SW Billings,AU Rashid,DJ Willey,MA Wood,JT Ball,LE Plunkett,EC Joyce
49,JJ Roy,NaN,NaN,JM Vince,BM Duckett,JM Bairstow,BA Stokes,JC Buttler,MM Ali,CR Woakes,DJ Willey,JT Ball,AU Rashid,Tamim Iqbal

In [46]:
# Loop to add players to new prediction dataset based on the ranking position of each player column
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Players_8': row['Players_8'], 'Players_9': row['Players_9'], 'Team2': None})
    else:
        pred_set.append({'Players_8': row['Players_9'], 'Players_9': row['Players_8'], 'Team2': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

    Players_8    Players_9 Team2
0     B Regmi  Sompal Kami  None
1  Ehsan Khan   Aizaz Khan  None
2     CB Sole    SM Sharif  None
3    MRJ Watt    SM Sharif  None
4   AG Cremer  R Mutumbami  None

In [47]:
# Get dummy variables and drop selected player column
pred_set = pd.get_dummies(pred_set, prefix=['Players_8', 'Players_9'], columns=['Players_8', 'Players_9'])
# Add missing columns compared to the model's training dataset
missing_cols2 = set(final.columns) - set(pred_set.columns)
for c in missing_cols2:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

pred_set = pred_set.drop(['Players_8'], axis=1)
pred_set.head()

,Players_1_A Balbirnie,Players_1_A Bonora,Players_1_A Mutreja,Players_1_A Patmore,Players_1_A Steyn,Players_1_AA Deshpande,Players_1_AA Mulla,Players_1_AA Obanda,Players_1_AA Onikoyi,Players_1_AB de Villiers,...,Players_22_XJ Doherty,Players_22_YA Abdulla,Players_22_YK Pathan,Players_22_YS Chahal,Players_22_Yamin Ahmadzai,Players_22_Z Khan,Players_22_Zaheer Maqsood,Players_22_Zahid Hussain,Players_22_Zahoor Khan,Players_22_Zulfiqar Babar
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4. Model Intepretation

In [48]:
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Players_8r: " + backup_pred_set.iloc[i, 1])
    else:
        print("Players_8: " + backup_pred_set.iloc[i, 0])
    print("")

Sompal Kami and B Regmi
Players_8: B Regmi

Aizaz Khan and Ehsan Khan
Players_8: Ehsan Khan

SM Sharif and CB Sole
Players_8: CB Sole

SM Sharif and MRJ Watt
Players_8: MRJ Watt

R Mutumbami and AG Cremer
Players_8: AG Cremer

AG Cremer and TL Chatara
Players_8: TL Chatara

N Madziva and R Mutumbami
Players_8: R Mutumbami

NN Odhiambo and SO Ngoche
Players_8: SO Ngoche

JB Reva and CA Soper
Players_8: CA Soper

MJ Santner and TG Southee
Players_8: TG Southee

MJ Santner and TG Southee
Players_8: TG Southee

Tanbir Hayder and Mashrafe Mortaza
Players_8: Mashrafe Mortaza

MJ Santner and TG Southee
Players_8: TG Southee

C de Grandhomme and TG Southee
Players_8: TG Southee

TA Boult and C de Grandhomme
Players_8: C de Grandhomme

WD Parnell and AL Phehlukwayo
Players_8: AL Phehlukwayo

CH Morris and WD Parnell
Players_8: WD Parnell

C de Grandhomme and TG Southee
Players_8: TG Southee

Mosaddek Hossain and Mashrafe Mortaza
Players_8: Mashrafe Mortaza

AF Milne and MJ Santner
Players_8: MJ Santner

WD Parnell and K Rabada
Players_8: K Rabada

JJ Bumrah and RA Jadeja
Players_8: RA Jadeja

Mehedi Hasan Miraz and Mashrafe Mortaza
Players_8: Mashrafe Mortaza

AU Rashid and LE Plunkett
Players_8: LE Plunkett

CH Morris and K Rabada
Players_8: K Rabada

RA Jadeja and B Kumar
Players_8: B Kumar

MJ Santner and AF Milne
Players_8: AF Milne

MA Starc and PJ Cummins
Players_8: PJ Cummins

AL Phehlukwayo and K Rabada
Players_8: K Rabada

NLTC Perera and RAS Lakmal
Players_8: RAS Lakmal

AU Rashid and LE Plunkett
Players_8: LE Plunkett

Junaid Khan and Hasan Ali
Players_8: Hasan Ali

S Badree and MT Steketee
Players_8: MT Steketee

AC Agar and JA Richardson
Players_8: JA Richardson

CJ Green and CJ McKay
Players_8: CJ McKay

CJ Boyce and CA Rose
Players_8: CA Rose

A Zampa and BW Hilfenhaus
Players_8: BW Hilfenhaus

J Botha and BJ Dwarshuis
Players_8: BJ Dwarshuis

A Zampa and BW Hilfenhaus
Players_8: BW Hilfenhaus

JL Pattinson and NJ Rimmington
Players_8: NJ Rimmington

SA Abbott and BJ Dwarshuis
Players_8: BJ Dwarshuis

Tanwir Afzal and Aizaz Khan
Players_8: Aizaz Khan

H Hiri and JB Reva
Players_8: JB Reva

H Hiri and CA Soper
Players_8: CA Soper

CR Woakes and ST Finn
Players_8: ST Finn

CR Brathwaite and AR Nurse
Players_8: AR Nurse

CR Woakes and LE Plunkett
Players_8: LE Plunkett

SR Thompson and GH Dockrell
Players_8: GH Dockrell

DJ Willey and MA Wood
Players_8: MA Wood

CR Woakes and DJ Willey
Players_8: DJ Willey

## 5. Final Model Prediction

In [49]:
# List of tuples before 
semi = [('A Vijayan','A Uniyal')]

In [50]:
def clean_and_predict(matches, Strike, final, logreg):

# Initialization of auxiliary list for data cleaning
    positions = []

# Loop to retrieve each players position according to Strike Rate
    for match in matches:
        positions.append(Strike.loc[Strike['Player'] == match[0],'Strike_Rate'].iloc[0])
        positions.append(Strike.loc[Strike['Player'] == match[1],'Strike_Rate'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

  # 'i' will be the iterator for the 'positions' list, and 'j' for the list of Players (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first player is better then this player will be the 'Players_8', and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Players_8': matches[j][0], 'Players_9': matches[j][1]})
        else:
            dict1.update({'Players_8': matches[j][1], 'Players_9': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop Player column
    pred_set = pd.get_dummies(pred_set, prefix=['Players_8', 'Players_9'], columns=['Players_8', 'Players_9'])
    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Players_8'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Players_8r: " + backup_pred_set.iloc[i, 1])
        else:
            print("Players_8: " + backup_pred_set.iloc[i, 0])
        print("")

In [51]:
clean_and_predict(semi, Strike, final, rf)

A Vijayan and A Uniyal
Players_8: A Uniyal